# .gitignore for Arduino projects
**/build/
# Arduino IDE files
*.ino.backup
*.ino.hex
*.ino.with_bootloader.hex
*.cpp.hex
*.cpp.with_bootloader.hex
*.cpp.eep
*.cpp.with_bootloader.eep
*.cpp.lss
*.cpp.with_bootloader.lss
*.cpp.lst
*.cpp.with_bootloader.lst
*.cpp.obj
*.cpp.with_bootloader.obj
*.cpp.sym
*.cpp.with_bootloader.sym
*.elf
*.hex
*.eep
*.lss
*.lst
*.obj
*.sym
build/
*.bin


# Arduino build files
/.vscode/
*.d

# Arduino project files
/.clangd/
/.pio/
*.code-workspace
*.sublime-project
*.sublime-workspace
*.tmproject
*.tmproj
*.tmbundle
*.tmbundle.zip
*.tmtheme
*.tmPreferences
*.tmlanguage
*.tmlanguage.context
*.tags
*.tags_sorted_by_file
*.tags_sorted_by_name
*.DotSettings
*.svn
*.DS_Store
*.bak
*.swp
Thumbs.db
Desktop.ini
*.kate-swp
*.kate-swp-[0-9]*
